


header {
    background-color:saddlebrown;
    color:white;
    padding:10px;	 
    text-align:center;
}

body {

    background-color: white;
    
}
nav {
    background-color:white;
    width:100px;
    height:300px;
    float:left;
    display: block;
    color:saddlebrown;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    line-height:30px;
}
ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color:white;
}
 
li {
    float: left;
}
 
li a {
    color: white;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
 

section p {
    width:490px;
    padding:25px;
    float:left;	 
 
}

footer {
    background-color:saddlebrown;
    color:white;
    text-align:center;
    clear:both;
    padding:5px;	 	 
}
